<style>
    body {
        width: 99%;
        height: 99%;
        background: #00a3e0;
        color: #fff;
    }
    
    .ghostButton {
        border: 1px solid #fff;
        width: 200px;
        height: 50px;
        cursor: pointer;
        line-height: 50px;
        display: block;
        margin-bottom: 25px;
        color: #fff;
    }
    
    .ghostButton:hover {
        text-decoration: none;
        color: #fff;
    }
</style>

<div class="bodyWrapper">
    <div class="container">
        <div class="row">

            <div>
                <h1>werkspayce</h1>

            </div>
            <div>
                <p>{{windowInfoWithToken}}</p>
            </div>

            <a class="ghostButton" href="{{instagramDataLink}}">
                <center>
                    tap the api
                </center>
            </a>
            <a class="ghostButton" ng-click="getAuthCode()">
                <center>
                    getAuthCode
                </center>
            </a>
            <a class="ghostButton" ng-click="tapIgApiCUSTOM()">
                <center>
                    it's in the middle
                </center>
            </a>
            <div>
                <p>{{instagramData}}</p>
                <p>{{instagramData.code}}</p>
                <p>{{instagramData.error_type}}</p>
                <p>{{instagramData.error_message}}</p>
            </div>
        </div>
    </div>
</div>