<link href='https://fonts.googleapis.com/css?family=Gudea:400,400italic' rel='stylesheet' type='text/css'>
<style>
    body {
        width: 99%;
        height: 99%;
        background: #00a3e0;
        color: #fff;
        font-family: 'Gudea', sans-serif;
        text-shadow: 0 10px 30px rgba(0, 0, 0, .25);
    }
    
    .ghostButton {
        border: 1px solid #fff;
        width: 200px;
        height: 50px;
        cursor: pointer;
        line-height: 50px;
        display: block;
        margin-bottom: 25px;
        color: #fff;
        box-shadow: 0 10px 30px rgba(0, 0, 0, .25);
        text-shadow: 0 1px 3px rgba(0, 0, 0, .25);
    }
    
    .ghostButton:hover {
        text-decoration: none;
        color: #fff;
    }
    
    .theWhiteLine {
        width: 90%;
        margin-bottom: 50px;
        float: left;
        background: #fff;
        height: 3px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, .25);
    }
    
    .clearFloat {
        clear: both;
    }
</style>

<div class="bodyWrapper">
    <div class="container">
        <div class="row">

            <div>
                <h1>werkspayce</h1>

            </div>
            <div class="theWhiteLine"></div>
            <div class="clearFloat"></div>


            <a class="ghostButton" href="{{instagramDataLink}}">
                <center>
                    tap the api
                </center>
            </a>
            <a class="ghostButton" ng-click="getHandleAuth()">
                <center>
                    getAuthCode redirect window
                </center>
            </a>
            <a class="ghostButton" ng-click="tapIgApiCUSTOM()">
                <center>
                    Ping Api
                </center>
            </a>
            <div class="col-md-4">

                <h3>Data:</h3>
                <p>{{windowInfoWithToken}}</p>

            </div>
            <div class="col-md-4">

                <h3>Error:</h3>
                <p>{{instagramData.code}}</p>
                <p>{{instagramData.error_type}}</p>
                <p>{{instagramData.error_message}}</p>

            </div>
            <div class="col-md-4"></div>

        </div>
    </div>
</div>